.form {
  display: flex;
  border-top: 2px solid #d3d3d3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #6a00ff;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
  font-size: 18px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(1);
}
.sendButton:hover {
  transform: scale(1.05) perspective(1px);
}
